@font-face {
    font-family: "PlayfairDisplay";
    font-style: normal;
    font-weight: 900;
    display: swap;
    src: url("/fonts/PlayfairDisplay-Black.woff2") format("woff2"),
    url("/fonts/PlayfairDisplay-Black.woff") format("woff");
    }

@font-face {
    font-family: "PlayfairDisplay";
    font-style: normal;
    font-weight: normal;
    display: swap;
    src: url("/fonts/PlayfairDisplay-Regular.woff2") format("woff2"),
    url("/fonts/PlayfairDisplay-Regular.woff") format("woff");
    }

@font-face {
    font-family: "Roboto";
    font-weight: 900;
    font-style: normal;
    display: swap;
    src: url("/fonts/Roboto-Black.woff2") format("woff2"),
    url("/fonts/Roboto-Black.woff") format("woff");
}

@font-face {
  font-family: "Roboto";
  font-weight: normal;
  font-style: normal;
  display: swap;
  src: url("/fonts/Roboto-Regular.woff2") format("woff2"),
  url("/fonts/Roboto-Regular.woff") format("woff");
}

html,
body {
    margin: 0;
    padding: 0;
}

body {
    width: 1440px;
    font-family: "Play", "Roboto", sans-serif;
    text-align:center;
    font-size: 15px;
    line-height: 17px;
}

.main-header__headline {
    text-align: center;
    font-family: "PlayfairDisplay", serif;
    font-weight: 900;
    font-size: 35px;
    line-height: 47px;
    color: #000000;
    padding-top: 46px;
}

.main-nav__list {
    display: flex;
    padding-top: 14px;
    padding-bottom: 28px;
    padding-right: 110px;
    padding-left: 110px;
}

.main-nav__item {
    display: inline-block;
    list-style: none;
    flex-basis:auto;
    flex-grow: 1;
  }

.main-nav__link{
    font-family: "Roboto", serif;
    font-size: 15px;
    line-height: 18px;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #000000;
}


.intro {
    position: relative;
    height: 464px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.intro__headline {
    font-family: "Roboto", serif;
    font-weight: normal;
    font-size: 76px;
    line-height: 84px;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 2px;
    color: #FFFFFF;
}

.intro::before {
    position: absolute;
    content: "";
    background-image: url("/img/intro-icon.svg");
    background-position: center;
    background-repeat: no-repeat;
}

.intro__text {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    color: #FFFFFF; 
}

.intro__image {
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: -1;
}

.reviews {
    padding-top: 24px;
    padding-bottom: 20px;
}

.reviews__headline {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    text-align: center;
    font-size: 17px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #000000;
}

.reviews__list{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    text-align: left;
}

.reviews__item {
    width: 370px;
    padding-right: 26px;
}

.reviews__item .review__headline {
    font-family: PlayfairDisplay;
    font-style: normal;
    font-weight: 900;
    font-size: 23px;
    line-height: 31px;
    color: #000000;
    margin: 8px;
    margin-left: 0px;
}

.review__text {
    width: 370px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    color: #000000;
    margin-top: -8px;
}

.subscriptions {
    display: flex;
    justify-content: center;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 62px;
    border-radius: 35px;
    border: 1px solid #575757

}


.subscriptions__headline {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    text-align: center;
    font-size: 17px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #000000;
}

.subscriptions__list {
    list-style: none;
    padding: 0px;
}

.subscription .subscription__link {
    text-decoration: none;
    font-family: PlayfairDisplay;
    font-style: normal;
    font-weight: 900;
    font-size: 23px;
    line-height: 31px;
    text-align: center;
    color: #000000;
    margin: 0px;
}

.subscription__text {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    color: #000000;
    margin: 0px;
}

.subscription__link__all {
    display: block;
    background-color: orangered;
    width: 168px;
    height: 26px;
    margin: auto;
    padding-top: 16px;
    padding-bottom: 4px;
} 

.subscription__link {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-decoration: none;
    color: #FFFFFF;
}

.subscription__link__all::after {
    content: "\2794";
    padding: 10px;
    font-size: 24px;
    vertical-align: middle;
}

.footer {
    background-color: #575757;
}

.footer .footer__headline {
    text-align: center;
    font-family: PlayfairDisplay;
    font-style: normal;
    font-weight: 900;
    font-size: 28px;
    line-height: 37px;
    letter-spacing: 1px;
    color: #FFFFFF;
    padding-top: 20px;
}

.footer .main-nav__list {
    display: flex;
    padding-top: 2px;
    padding-bottom: 28px;
    padding-right: 110px;
    padding-left: 110px;
    border-bottom: 1px solid #FFFFFF;
}

.footer .main-nav__item {
    display: inline-block;
    list-style: none;
    flex-basis:auto;
    flex-grow: 1;
}

.footer .main-nav__link{
    font-family: "Roboto", serif;
    font-size: 15px;
    line-height: 18px;
    text-decoration: none;
    text-transform: uppercase;
    color: #FFFFFF;
}

span {
    display: block;
    width: 0;
    height: 0;
    overflow: hidden;
    
    
  }
.socials__list {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 36px;
    list-style: none;
}

.socials__link {
    display:inline-block;
    width: 46px;
    height: 46px;
    margin: 6px;
    background-color: #FFFFFF;
}

.socials__link--instagram {
    background-image: url("/img/instagram_icon.svg");
    background-repeat: no-repeat;
    background-position: center;
}

.socials__link--facebook {
    background-image: url("/img/facebook_icon.svg");
    background-repeat: no-repeat;
    background-position: center;
}

.socials__link--twitter {
    background-image: url("/img/twitter_icon.svg");
    background-repeat: no-repeat;
    background-position: center;
}